<div
  class="resource-card {{ block.settings | class_list }}"
  {{ block.shopify_attributes }}
>
  <a
    class="card-link"
    href="{{ block.settings.product.url }}"
  >
  </a>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Product card",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },   
    {
      "type": "paragraph",
      "content": "Width is automatically optimized for mobile."
    }
  ],
  "presets": [
    {
      "name": "Product card",
      "settings": {       
      },
      "blocks": [
        {
          "type": "roduct-card-gallery",
          "settings": {
            "product": "{{ closest.product }}",           
          }
        },
        {
          "type": "product-title",
          "settings": {
            "product": "{{ closest.product }}",           
          }
        },
        {
          "type": "price",
          "settings": {
            "product": "{{ closest.product }}"
          }
        }
      ]
    }
  ]
}
{% endschema %}