<div class="full-width {{ section.settings | class_list }} color-{{ section.settings.color_scheme }}">
   {% content_for 'blocks' %} 
</div>

{% schema %}
{
  "name": "Custom section",
  "class": "section--has-background",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [   
    {
      "type": "header",
      "content": "Color"
    }    
  ],
  "presets": [    
    {
      "name": "Featured collection",
      "settings": {        
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h2>Featured collection</h2>"
          }
        },
        {
          "type": "product-grid",
         
          "blocks": [
            {
              "id": "product-grid-item",
              "type": "product-card",
              "static": true,
              "settings": {
                "product": "{{ closest.product }}"
              },
              "blocks": [
                {
                  "type": "product-medias",
                  "settings": {
                    "product": "{{ closest.product }}"                    
                  }
                },
                {
                  "type": "product-title",
                  "settings": {
                    "product": "{{ closest.product }}",
                    "heading_size": "h5"
                  }
                },
                {
                  "type": "price",
                  "settings": {
                    "product": "{{ closest.product }}"
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %} [END section.blocks] {% endcomment %}